:root {
    --bgcolor: #f1f5f9;
    --linkcolor: darkblue;
    --bordercolor: darkgray;
    --errorcolor: crimson;
}

@font-face {
    font-family: "KH Dot Akihabara 16";
    src: url("/KH-Dot-Akihabara-16.ttf");
}

@font-face {
    font-family: "M PLUS 1 Code Medium";
    src: url("/MPLUS1Code-Medium.ttf");
}

body {
    background-color: var(--bgcolor);
    font-family: "KH Dot Akihabara 16", cursive;
    font-weight: bold;
    margin: 0 auto;
    max-width: 70ch;
    height: 100%;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    body {
        margin: 3ch;
    }
}

footer {
    margin-top: 3rem;
    font-size: small;
}

article {
    margin: 2.5rem 0;
}

hr {
    color: var(--bordercolor);
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-top: 3px dotted var(--bordercolor);
}

a {
    color: var(--linkcolor);
    text-decoration: none;
}