<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<!-- <head/>要素の共通のもの -->
<th:block th:fragment="common-head">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
    <link rel="stylesheet" href="/global.css" />
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script integrity="sha256-PywGR6ofLvqaqa9FvJYmWwHVW+dkKubUi+wD5MUKkmE=">
        document.addEventListener('htmx:configRequest', (event) => {
            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
            event.detail.headers[csrfHeader] = csrfToken;
        });
    </script>
</th:block>

</html>