<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<!-- <head/>要素の共通のもの -->
<th:block th:fragment="common-head">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="htmx-config" th:content='|{"includeIndicatorStyles": false}|' />
    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}" th:nonce="${_nonce}"></script>
    <script th:src="@{/htmx-config.js}" th:nonce="${_nonce}"></script>
    <link rel="stylesheet" href="/global.css" />
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</th:block>

</html>