<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:nishibimd="http://nishibi.misononoa.cc/nishibimd">

<head>
    <title>nishibi-bbs(bbs.misononoa.cc)</title>
    <th:block th:replace="~{common::common-head}" />
</head>

<body>
    <h1>nishibi-bbs(bbs.misononoa.cc)</h1>
    <main>
        <article th:fragment="post-detail" id="post-detail" class="post-detail">
            <div th:text="|postHash: ${post.postHash}|"></div>
            <div th:text="|createdAt: ${post.createdAt}|"></div>
            <hr />
            <div id="post-text" class="markdown" nishibi:render="${post.text}"></div>
        </article>
    </main>
</body>

</html>