<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:nishibi="http://nishibi.misononoa.cc/nishibi">

<head>
    <title th:text="#{app.title}"></title>
    <th:block th:replace="~{common::common-head}" />
    <script src="/keyboard-shortcuts.js" th:nonce="${_nonce}"></script>
    <style th:nonce="${_nonce}">
        footer {
            font-size: small;
        }
    </style>
</head>


<body>
    <h1 th:text="#{app.title}"></h1>
    <main>

        <div id="post-form" th:fragment="post-form" hx-swap-oob="true">
            <form hx-post="/post" hx-ext="json-enc" hx-target="#post-list" hx-trigger="createPost" autocomplete="off">
                <div>
                    <textarea id="post-form-text" name="text" autocomplete="off"></textarea>
                    <br>
                    <label for="post-form-text" class="error" th:if="${formError != null}"
                        th:text="${formError}"></label>
                </div>
                <div>
                    <input type="submit" value="submit" />
                </div>
            </form>
        </div>
        <hr>

        <div id="post-list" hx-swap="outerHTML">
            <article th:fragment="post-article" th:each="post : ${posts}" class="post-article">
                <div>
                    <a th:href="@{'/post/' + ${post.abbrevHash}}" th:text="|#${post.abbrevHash}|"></a>
                    <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd hh:mm:ss')}"></span>
                </div>
                <div class="post-text"
                    nishibi:render="${#strings.length(post.text) gt 120 ? #strings.substring(post.text, 0, 120) + '...' : post.text}">
                </div>
            </article>
        </div>

        <hr>
        <aside>
            <ul id="pager" th:fragment="pager" hx-swap-oob="true">
                <li>
                    <span th:if="${posts.first}">newest</span>
                    <a th:if="${not posts.first}" th:href="@{/post(page=0)}">newest</a>
                </li>
                <li th:if="${posts.hasPrevious()}">
                    <a th:href="@{/post(page=${posts.number}-1)}" th:text="${posts.number}-1"></a>
                </li>
                <li th:text="${posts.number}"></li>
                <li class="current" th:if="${posts.hasNext()}">
                    <a th:href="@{/post(page=(${posts.number}+1))}" th:text="${posts.number}+1"></a>
                </li>
                <li>
                    <span th:if="${posts.last}">oldest</span>
                    <a th:if="${not posts.last}" th:href="@{/post(page=${posts.totalPages}-1)}">oldest</a>
                </li>
            </ul>
        </aside>

    </main>
    <footer>
        <a href="/credits">このソフトウェアについて</a>
    </footer>
</body>

</html>