<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:nishibi="http://nishibi.misononoa.cc/nishibi">

<head>
    <title th:text="#{app.title}"></title>
    <th:block th:replace="~{common::common-head}" />
    <script src="/keyboard-shortcuts.js" th:nonce="${_nonce}"></script>
    <style th:nonce="${_nonce}">
        footer {
            font-size: small;
        }
    </style>
</head>


<body>
    <header>
        <h1 th:text="#{app.title}"></h1>
    </header>
    <main>
        <div id="postform-wrap" th:fragment="postform-wrap" hx-swap-oob="true">
            <form id="postform" th:hx-post="@{/post}" hx-target="#post-list" hx-trigger="createPost, submit"
                th:object="${postForm}">
                <div>
                    <textarea id="postform-text" th:field="*{text}" autocomplete="off"></textarea>
                    <br>
                    <label for="postform-text" class="error" th:if="${#fields.hasErrors('text')}"
                        th:errors="*{text}"></label>
                </div>
                <div>
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
        <hr>
        <div id="post-list" th:hx-swap="innerHTML">
            <article th:fragment="post-item" th:each="post : ${posts}" class="post-item">
                <div>
                    <a th:href="@{|/post/${post.abbrevHash}|}" th:text="|#${post.abbrevHash}|"></a>
                    <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <div class="post-text"
                    nishibi:render="${#strings.length(post.text) gt 120 ? #strings.substring(post.text, 0, 120) + '...' : post.text}">
                </div>
            </article>
        </div>
        <hr>
        <aside>
            <ul id="pager" th:fragment="pager" hx-swap-oob="true">
                <li>
                    <span th:if="${posts.first}">newest</span>
                    <a th:if="${not posts.first}" th:hx-get="@{/post(page=0)}" hx-target="#post-list">newest</a>
                </li>
                <li th:if="${posts.hasPrevious()}">
                    <a th:hx-get="@{/post(page=${posts.number}-1)}" hx-target="#post-list"
                        th:text="${posts.number}-1"></a>
                </li>
                <li th:text="${posts.number}"></li>
                <li class="current" th:if="${posts.hasNext()}">
                    <a th:hx-get="@{/post(page=(${posts.number}+1))}" hx-target="#post-list"
                        th:text="${posts.number}+1"></a>
                </li>
                <li>
                    <span th:if="${posts.last}">oldest</span>
                    <a th:if="${not posts.last}" th:hx-get="@{/post(page=${posts.totalPages}-1)}"
                        hx-target="#post-list">oldest</a>
                </li>
            </ul>
        </aside>
    </main>
    <footer>
        <a href="/credits">このソフトウェアについて</a>
    </footer>
</body>

</html>